.site-header {
	background-image: url(/images/pattern.jpeg);
}

h1 {
	font-family: Helvetica;
	font-size: 100px;
	font-weight: bold;
	color: khaki;
	text-align: center;
	background-image: url(images/pattern.jpeg);
}

h2 {
	font-family: Helvetica;
	font-size: 32px;
	font-weight: bold;
	color: white;
}

h3 {
	font-family: Helvetica;
}

p {
	font-family: Helvetica;
}

.brushes-header {
	background-color: mediumspringgreen; 
}

.frames-header {
	background-color: lightcoral; 
}

.paint-header {
	background-color: skyblue; 
}

.content-container {
	display: flex;
	flex-direction: column;
	margin: auto;
}

.price {
	font-family: Helvetica;
	font-weight: bold;
	color: blue;

}
